.card-img-top {
    width: 20vh;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

td {
    width: 85%;
}

th {
    width: 15%;
}

tr {
    line-height: 15px;
}

#error {
    color: red;
}